<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProfile name="local">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    </springProfile>

    <springProfile name="!local">
        <property name="CONSOLE_LOG_STRUCTURED_FORMAT" value="ecs"/>
        <include resource="org/springframework/boot/logging/logback/structured-console-appender.xml"/>
    </springProfile>

    <root>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
